doctype html
html(lang='en')
    head
        meta(charset="UTF-8")
        meta(name="vieport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie-edge")
        title LogIn
    body
        form(action="login", method="post")
            div
                label Username:
                input(type="text", name="username")
                br
            div
                label Password:
                input(type="password", name="password")
                br
            div
                input(type="submit" value="Submit")
            if message
                h2 #{message}
            p DO YOU SEE ME 