doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Register 
  body
    form(action='/register', method='post')
      div
        label Username:
        input(type='text', name='username')
        if failedUsernameMessage
            h2.red #{failedUsernameMessage}
        br
      div
        label Password:
        input(type='password', name='password')
      div
        label E-mail:
        input(type='email', name='email')
        if failedEmailMessage
            h2.red #{failedEmailMessage}
      div
        input(type='submit', value='Submit')
